//***************************************************************************
// Colors
//***************************************************************************
$gray: #808080;
$darker-gray: #5a5a5a;
$lighter-gray: #dadada;

$color-primary: $gray;
$color-secondary: "";
$color-tertiary: "";

//***************************************************************************
// Fonts
//***************************************************************************
$font-stack: 'Helvetica Neue', 'Arial', sans-serif;
$font-primary: 'Open Sans', $font-stack;

//***************************************************************************
// Misc
//***************************************************************************
$page-v-rhythm: 20px;
$page-padding: 10px;
$page-width: 1000px;

$grid-columns: 12;

